[flake8]
max-line-length = 100
inline-quotes = "
exclude =
    graphblas_algorithms/*/tests/,
    graphblas_algorithms/*/*/tests/,
    build/
extend-ignore =
    E203,
    SIM105,
    SIM401,
# E203 whitespace before ':' (to be compatible with black)
per-file-ignores =
    __init__.py:F401,F403,  # allow unused and star imports
    test_*.py:F401,F403,
    graphblas_algorithms/nxapi/exception.py:F401,
    graphblas_algorithms/**/__init__.py:F401,F403
